.root {
  margin: 0 auto;
  background-color: #000;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  padding-top: 45px;
  padding-bottom: 60px;
  font-family: "Inter", Arial, Helvetica, serif;
  max-width: 1280px;
  min-width: 320px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .root {
    padding-top: 28px;
    padding-bottom: 36px;
  }
}

.content {
  margin: 0 auto;
  width: 100%;
  max-width: 880px;
  min-width: 282px;
  width: calc(100% - 2 * 19px);
}

.header {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #545454;
  width: calc(100% - 2 * 19px);
  -o-object-fit: cover;
  object-fit: cover;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    width: 100%;
  }
}

.header__logo {
  width: max(16%, 103.74px);
  margin-bottom: 37px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__logo {
    margin-left: 27px;
    margin-bottom: 27.6px;
  }
}

.profile {
  padding-top: 40px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile {
    text-align: center;
    padding-top: 42px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.profile__image {
  max-width: 168.75px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 30px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__image {
    margin-right: 0;
    margin-bottom: 25.25px;
  }
}

.profile__container {
  width: 100%;
  max-width: 584px;
  min-width: 217px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 10px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.profile__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile__title {
  margin: 0 20px 0 0;
  font-family: Inter;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__title {
    margin-right: 12px;
    margin-left: 27px;
    font-size: 27px;
    line-height: 32.68px;
  }
}

.profile__edit-btn {
  margin-top: 15px;
  width: 24px;
  height: 24px;
  padding: 0;
  background-image: url("/img/penicon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  border: 1px solid #fff;
  cursor: pointer;
}

.profile__edit-btn:hover {
  opacity: 0.6;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__edit-btn {
    margin-top: 9px;
    width: 18px;
    height: 18px;
  }
}

.profile__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 16.94px;
    margin-bottom: 31px;
  }
}

.profile__btn {
  min-width: 150px;
  min-height: 50px;
  background-color: #000;
  padding: 0;
  background-image: url("/img/olus.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fff;
  cursor: pointer;
}

.profile__btn:hover {
  opacity: 0.6;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__btn {
    min-width: 282px;
  }
}

.elements {
  padding-top: 51px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .elements {
    padding-top: 36px;
  }
}

.cards {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  row-gap: 20px;
  -webkit-column-gap: 17px;
  -moz-column-gap: 17px;
  column-gap: 17px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card__image {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  min-height: 282px;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}

.card__wrap {
  background-color: #fff;
  color: #000;
  padding: 25px 20px 25px 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

.card__title {
  margin: 0;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__btn-like {
  background-color: #fff;
  background-image: url("/img/hearth.svg");
  background-repeat: no-repeat;
  background-position: center;
  min-width: 22px;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.card__btn-like:hover {
  opacity: 0.6;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  background-repeat: no-repeat;
  background-position: center;
}

.card__btn-like_active {
  background-image: url("/img/Union.svg");
}

.footer {
  padding-top: 67px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    padding-top: 48px;
  }
}

.footer__copyright {
  margin: 0;
  color: #545454;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__copyright {
    line-height: 16.94px;
    font-size: 14px;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 195px;
  display: none;
}

.popup_opened {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .popup {
    padding-top: 123px;
  }
}

.popup__container {
  color: #000;
  position: relative;
  z-index: 1;
  width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .popup__container {
    max-width: 430px;
    max-height: 322px;
    width: calc(100% - 2 * 19px);
  }
}

.popup__wrap {
  width: 100%;
  margin: 34px 36px 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .popup__wrap {
    margin: 25px 22px;
  }
}

.popup__title {
  margin: 0 0 46px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .popup__title {
    margin-bottom: 75px;
    font-size: 18px;
    line-height: 22px;
  }
}

.popup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 30px;
}

.popup__form-input {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding: 0 0 10px;
  border: 0;
  border-bottom: 1px solid #000;
}

.popup__button {
  margin-top: 18px;
  border: 0;
  padding: 14px 0;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  cursor: pointer;
}

.popup__button:hover {
  opacity: 0.8;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .popup__button {
    margin-top: 13.4px;
    font-size: 14px;
    line-height: 17px;
  }
}

.popup__button-exit {
  width: 32px;
  height: 32px;
  position: absolute;
  right: -40px;
  top: -40px;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  background-image: url("/img/Close Icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .popup__button-exit {
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 17px;
    right: 0;
    top: -36px;
  }
}

.popup__button-exit:hover {
  opacity: 0.6;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
