.card__image {
  width: 100%;
  cursor: pointer;
  -o-object-fit: cover;
  object-fit: cover;
  min-height: 282px;
  max-height: 282px;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  aspect-ratio: auto 1 / 1;
}